---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1>Atom React Plugin</h1>
    <p>React support for the <a href="https://atom.io">Atom</a> Editor.</p>
    <p>
      {% highlight bash %}
      $ apm install react
      {% endhighlight %}
    </p>
    <p class="jumbtron-links">
      <a href="https://github.com/orktes/atom-react">Github</a>
      -
      <a href="https://atom.io/packages/react">Atom Package</a>
  </div>
</div>

<div class="jumbotron-footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-tag"></span>Current version: <strong>0.9.0</strong></p>
  </div>
</div>

<div class="container">
  <a name="features"></a>
  <h1 class="features-title">Features</h1>
  <div class="row row-feature-preview">
    {% for feature in site.features %}
      <div class="col-feature-preview col-xs-12 col-sm-6 col-md-4">
        <a href="#{{feature.name | slugify}}">{{feature.name}}</a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="features">
  {% for feature in site.features %}
  <div class="container-feature">
    <div class="container">
      <div class="row row-feature">
        <a name="{{feature.name | slugify}}"></a>
        <div class="col-feature-video col-sm-6">
          {% include {{feature.type}}.html data=feature.data name=feature.name %}
        </div>
        <div class="col-feature col-sm-6">
          <h2>{{feature.name}}</h2>
          {{feature.output}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container-snippets">
  <div class="container">
    <a name="snippets-list"></a>
    <h1 class="snippets-title">Snippets</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>
            Snippet
          </th>
          <th>
            Prefix
          </th>
          <th>
            Body
          </th>
        </tr>
        {% for snippet in site.data.snippets['.source.js'] %}
        <tr>
          <td>
            {{snippet[0]}}
          </td>
          <td>
            {{snippet[1].prefix}}
          </td>
          <td>
            {{snippet[1].html}}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-align-left">
        <p class="license">MIT License</p>
      </div>
      <div class="col-sm-6 text-align-right">
        <p class="design">
          Site design: <a href="https://github.com/ajniemin" target="_blank"><strong>ajniemin</strong></a>
        </p>
        <p class="author">
          Plugin author: <a href="https://github.com/orktes" target="_blank"><strong>orktes</strong></a>
        </p>
      </div>
    </div>
  </div>
</footer>
