'.source.js.jsx':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '(^\\s*\\</|^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x)((^|=|return)\\s*<([^!/?](?!.+?(</.+?>))))'
    'decreaseIndentPattern': '(?x)^\\s*(</)'
