'name': 'JavaScript (JSX)'
'scopeName': 'source.js.jsx'
'fileTypes': [
  'jsx',
  'react.js'
]
'patterns': [
  {
    'include': '#pcdata'
  }
  {
    'include': '#jsx'
  }
  {
    'match': '(?<!\\.)\\b(await|break|case|catch|continue|do|else|finally|for|if|import|from|package|return|switch|throw|try|while|with)(?!\\s*:)\\b'
    'name': 'keyword.control.js'
  }
  {
    'begin': '\\('
    'beginCaptures':
      '0':
        'name': 'meta.brace.round.js'
    'end': '\\)'
    'endCaptures':
      '0':
        'name': 'meta.brace.round.js'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
   'include': '#method_calls'
  }
  {
   'include': '#function_calls'
  }
  {
    'include': 'source.js'
  }
]
'repository':
  'arguments':
    'patterns': [
      {
        'include': '$self'
      }
    ]
  'pcdata':
    'patterns': [
      {
        'include': '#pcdata-quotes'
      }
    ]
  'pcdata-quotes':
    'name': 'meta.other.pcdata.js'
    'match': '\\b\\w+[\'"]\\w+\\b'
  'jsx-tag-attributes':
    'patterns': [
      {
        'include': '#jsx-tag-attribute-name'
      }
      {
        'include': '#jsx-string-double-quoted'
      }
      {
        'include': '#jsx-string-single-quoted'
      }
      {
        'include': '#jsx-evaluated-code'
      }
    ]
  'jsx-tag-attribute-name':
    'name': 'meta.tag.attribute-name.js'
    'match': '\\b([a-zA-Z0-9\\-:]+)'
    'captures':
      '1':
        'name': 'entity.other.attribute-name.js'
  'jsx-string-double-quoted':
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.js'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.js'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.js'
    'patterns': [
      {
        'include': '#jsx-entities'
      }
    ]
  'jsx-string-single-quoted':
    'begin': '\''
    'end': '\''
    'name': 'string.quoted.single.js'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.js'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.js'
    'patterns': [
      {
        'include': '#jsx-entities'
      }
    ]
  'jsx-entities':
    'patterns': [
      {
        'name': 'constant.character.entity.js'
        'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
        'captures':
          '1':
            'name': 'punctuation.definition.entity.js'
          '3':
            'name': 'punctuation.definition.entity.js'
      }
      {
        'name': 'invalid.illegal.bad-ampersand.js'
        'match': '&'
      }
    ]
  'jsx-evaluated-code':
    'begin': '{'
    'end': '}'
    'name': 'meta.brace.curly.js'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.brace.curly.end.js'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.brace.curly.start.js'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  'jsx-tag-open':
    'begin': '(<)([a-zA-Z0-9\.:$_]+)'
    'end': '(/?>)'
    'name': 'tag.open.js'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.end.js'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.js'
      '2':
        'name': 'entity.name.tag.js'
    'patterns': [
      {
        'include': '#jsx-tag-attributes'
      }
    ]
  'jsx-tag-close':
    'match': '(</)([^>]+)(>)'
    'name': 'tag.closed.js'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.begin.js'
      '2':
        'name': 'entity.name.tag.js'
      '3':
        'name': 'punctuation.definition.tag.end.js'
  'jsx-tag-invalid':
    'name': 'invalid.illegal.tag.incomplete.js'
    'match': '<\\s*>'
  'jsx':
    'name': 'meta.jsx.js'
    'patterns': [
      {
        'include': '#jsx-tag-open'
      }
      {
        'include': '#jsx-tag-close'
      }
      {
        'include': '#jsx-tag-invalid'
      }
    ]
  'method_calls':
    'patterns': [
      {
        # .methodCall(arg1, "arg2", [...])
        'begin': '(\\.)\\s*([\\w$]+)\\s*(?=\\()'
        'beginCaptures':
          '1':
            'name': 'meta.delimiter.method.period.js'
          '2':
            'patterns': [
              {
                'match': '''(?x)
                  \\bon(Rowsinserted|Rowsdelete|Rowenter|Rowexit|Resize|Resizestart|Resizeend|Reset|
                  Readystatechange|Mouseout|Mouseover|Mousedown|Mouseup|Mousemove|
                  Before(cut|deactivate|unload|update|paste|print|editfocus|activate)|
                  Blur|Scrolltop|Submit|Select|Selectstart|Selectionchange|Hover|Help|
                  Change|Contextmenu|Controlselect|Cut|Cellchange|Clock|Close|Deactivate|
                  Datasetchanged|Datasetcomplete|Dataavailable|Drop|Drag|Dragstart|Dragover|
                  Dragdrop|Dragenter|Dragend|Dragleave|Dblclick|Unload|Paste|Propertychange|Error|
                  Errorupdate|Keydown|Keyup|Keypress|Focus|Load|Activate|Afterupdate|Afterprint|Abort)\\b
                '''
                'name': 'support.function.event-handler.js'
              }
              {
                'match': '''(?x)
                  \\b(shift|showModelessDialog|showModalDialog|showHelp|scroll|scrollX|scrollByPages|
                  scrollByLines|scrollY|scrollTo|stop|strike|sin|sizeToContent|sidebar|signText|sort|
                  sup|sub|substr|substring|splice|split|send|set(Milliseconds|Seconds|Minutes|Hours|
                  Month|Year|FullYear|Date|UTC(Milliseconds|Seconds|Minutes|Hours|Month|FullYear|Date)|
                  Time|Hotkeys|Cursor|ZOptions|Active|Resizable|RequestHeader)|search|sqrt|slice|
                  savePreferences|small|home|handleEvent|navigate|char|charCodeAt|charAt|cos|concat|
                  contextual|confirm|compile|ceil|clear|captureEvents|call|createStyleSheet|createPopup|
                  createEventObject|to(GMTString|UTCString|String|Source|UpperCase|LowerCase|LocaleString)|
                  test|tan|taint|taintEnabled|indexOf|italics|disableExternalCapture|dump|detachEvent|unshift|
                  untaint|unwatch|updateCommands|join|javaEnabled|pop|pow|push|plugins.refresh|paddings|parse|
                  print|prompt|preference|enableExternalCapture|elementFromPoint|exp|exec|execScript|
                  execCommand|valueOf|UTC|queryCommandState|queryCommandIndeterm|queryCommandEnabled|
                  queryCommandValue|find|file|fileModifiedDate|fileSize|fileCreatedDate|fileUpdatedDate|
                  fixed|fontsize|fontcolor|forward|floor|fromCharCode|watch|link|load|log|lastIndexOf|
                  asin|anchor|acos|attachEvent|atob|atan|atan2|apply|alert|abs|abort|round|routeEvents|
                  resize|resizeBy|resizeTo|recalc|returnValue|replace|reverse|reload|releaseCapture|
                  releaseEvents|random|go|get(Milliseconds|Seconds|Minutes|Hours|Month|Day|Year|FullYear|
                  Time|Date|TimezoneOffset|UTC(Milliseconds|Seconds|Minutes|Hours|Day|Month|FullYear|Date)|
                  Attention|Selection|ResponseHeader|AllResponseHeaders)|min|moveBy|moveBelow|moveTo|
                  moveToAbsolute|moveAbove|mergeAttributes|match|margins|max|btoa|big|bold|borderWidths|blink|back)\\b
                '''
                'name': 'support.function.js'
              }
              {
                'match': '''(?x)
                  \\b(substringData|submit|splitText|setNamedItem|setAttribute|setAttributeNode|select|
                  hasChildNodes|hasFeature|namedItem|click|close|cloneNode|createComment|createCDATASection|
                  createCaption|createTHead|createTextNode|createTFoot|createDocumentFragment|
                  createProcessingInstruction|createEntityReference|createElement|createAttribute|
                  tabIndex|insertRow|insertBefore|insertCell|insertData|item|open|deleteRow|deleteCell|
                  deleteCaption|deleteTHead|deleteTFoot|deleteData|focus|write|writeln|add|appendChild|
                  appendData|reset|replaceChild|replaceData|move|moveNamedItem|moveChild|moveAttribute|
                  moveAttributeNode|getNamedItem|getElementsByName|getElementsByTagName|getElementById|
                  getAttribute|getAttributeNode|blur)\\b
                '''
                'name': 'support.function.dom.js'
              }
              {
                'match': "[a-zA-Z_$][\\w$]*"
                'name': 'entity.name.function.js'
              }
              {
                'match': '\\d[\\w$]*'
                'name': 'invalid.illegal.identifier.js'
              }
            ]
        'end': '(?<=\\))'
        'name': 'meta.method-call.js'
        'patterns': [
          {
            'include': '#arguments'
          }
        ]
      }
    ]
  'function_calls':
    'patterns': [
      {
        # functionCall(arg1, "arg2", [...])
        'begin': '([\\w$]+)\\s*(?=\\()'
        'beginCaptures':
          '1':
            'patterns': [
              {
                'match': '''(?x)
                  \\b(isNaN|isFinite|eval|uneval|parseInt|parseFloat|decodeURI|
                  decodeURIComponent|encodeURI|encodeURIComponent|escape|unescape|
                  require|set(Interval|Timeout)|clear(Interval|Timeout))\\b
                '''
                'name': 'support.function.js'
              }
              {
                'match': "[a-zA-Z_$][\\w$]*"
                'name': 'entity.name.function.js'
              }
              {
                'match': '\\d[\\w$]*'
                'name': 'invalid.illegal.identifier.js'
              }
            ]
        'end': '(?<=\\))'
        'name': 'meta.function-call.js'
        'patterns': [
          {
            'include': '#arguments'
          }
        ]
      }
    ]
