'menu': [
  {
    'label': 'Edit'
    'submenu': [
      {
        'label': 'React (JSX)'
        'submenu': [
          {
            'label': 'Reformat JSX'
            'command': 'react:reformat'
          }
          {
            'label': 'HTML to JSX'
            'command': 'react:htmltojsx'
          }
        ]
      }
    ]
  }
]
'context-menu':
  'atom-workspace': [
    {
      label: 'Reformat JSX'
      command: 'react:reformat'
    }
    {
      label: 'Convert HTML to JSX'
      command: 'react:htmltojsx'
    }
  ]
