<style>
  .video-{{include.name | slugify}} {
    height: {{include.data.height}}px !important;
    width: {{include.data.width}}px !important;
  }
  @media (max-width: 768px) {
    .video-{{include.name | slugify}} {
      height: {{include.data.small_height}}px !important;
      width: {{include.data.small_width}}px !important;
    }
  }
</style>
<video id="video-{{include.name | slugify}}" controls class="video-js vjs-sublime-skin video-{{include.name | slugify}}" src="{{include.data.src}}"></video>
<script>
  videojs('video-{{include.name | slugify}}', {}, function() {
    this.ga();
  });
</script>
